target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/java/DAOs/MySqlDao.java

### IntelliJ IDEA ###
.idea/
!.idea/modules.xml
!.idea/vcs.xml
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store
.idea/encodings.xml
pom.xml
